:root {
  --primary-color: #fff5e4;
  --text-aligh: center;
}

body {
  font-family: "Handlee", cursive;
  text-align: var(--text-aligh);
  font-size: 20px;
  background-color: var(--primary-color);
}

h1 {
  font-size: 76px;
}

h1,
h2 {
  text-align: var(--text-aligh);
  margin: 0;
}
h3 {
  font-size: 50px;
}
a {
  margin-top: 200px;
}

.card {
  display: inline-block;
  margin: 20px;
}
p {
  background-color: #f8ede3;
  border-radius: 10px;
  line-height: 27px;
}
#contact-me {
  margin-bottom: 200px;
}

.email-link {
  text-decoration: none;
  font-size: 40px;
}

a.email-link:hover {
  text-decoration: underline;
  transition: all 200ms linear;
  cursor: pointer;
}
