:root {
  --primary-color: #f9f7fe;
  --text-aligh: center;
}

body {
  font-family: "Handlee", cursive;
  text-align: var(--text-aligh);
  font-size: 20px;
  background: var(--primary-color);
}

h1 {
  font-size: 76px;
}

h1,
h2 {
  text-align: var(--text-aligh);
  margin: 0;
}
h3 {
  font-size: 50px;
}

p {
  background-color: #f8ede3;
  border-radius: 10px;
  line-height: 27px;
}

#contact-me {
  margin-bottom: 200px;
}

.email-link {
  text-decoration: none;
  font-size: 30px;
}

a.email-link:hover {
  text-decoration: underline;
  transition: all 200ms linear;
  cursor: pointer;
}

@media (max-width: 900px) {
  h1,
  h3 {
    font-size: 50px;
  }
}
