:root {
  --main-color: #6c738e;
  --primary-color: #f9f7fe;
  --branding-color: #b1afff;
  --secondary-color: f9f7fe;
  --text-decoration: none;
  --box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.3);
  --text-aligh: center;
}

body {
  font-family: "Source Serif Pro", serif;
  text-align: var(--text-aligh);
  font-size: 20px;
  background-color: var(--primary-color);
  color: var(--main-color);
}

h1,
h2 {
  text-align: var(--text-aligh);
  margin: 0;
}
h1 {
  line-height: 1.5;
}
h2 {
  font-size: 60px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 60px;
  margin-top: 90px;
}

.content-container {
  padding: 60px 20px;
}

.content-container h1 {
  font-size: 50px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container h3 {
  font-size: 24px;
  line-height: 1;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 50px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 50px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

a {
  color: black;
  text-decoration: var(--text-decoration);
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30pxc 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer a.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer a.email-link:hover {
  color: var(--branding-color);
}

.social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 36px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
    line-height: 56px;
  }

  h2,
  h5 {
    font-size: 44px;
  }

  h3 {
    font-size: 20px;
  }

  .btn {
    font-size: 18px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 14px;
  }

  footer .contact-box {
    padding: 30px;
  }
}
