:root {
  --primary-color: #f9f7fe;
  --text-decoration: none;
  --box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.3);
  --text-aligh: center;
}

body {
  font-family: "Handlee", cursive;
  text-align: var(--text-aligh);
  font-size: 20px;
  background-color: var(--primary-color);
}

h1,
h2 {
  text-align: var(--text-aligh);
  margin: 0;
}
h1 {
  margin-top: 80px;
  line-height: 1.5;
}
h2 {
  font-size: 76px;
}

.hero {
  padding: 20px 50px 150px;
}

a {
  color: black;
  text-decoration: var(--text-decoration);
}

button {
  width: 150px;
  margin: 20px;
  box-shadow: var(--box-shadow);
}

button:hover {
  transition: all 200ms linear;
  cursor: pointer;
}

@media (max-width: 900px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 45px;
    line-height: 1.5;
  }

  .hero {
    padding: 80px 20px;
  }
}
