:root {
  --main-color: #6c738e;
  --primary-color: #f9f7fe;
  --branding-color: #b1afff;
  --secondary-color: f9f7fe;
  --text-decoration: none;
  --text-aligh: center;
}

body {
  font-family: "Source Serif Pro", serif;
  background: var(--primary-color);
  color: var(--main-color);
}

h1 {
  color: white;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

.content-container h2 {
  font-size: 50px;
  margin-top: 150px;
}

a {
  color: black;
  text-decoration: var(--text-decoration);
  text-align: var(--text-aligh);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: var(--bs-navbar-toggler-icon-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: 1px solid var(--bs-navbar-toggler-border-color);
  border-radius: 0.375rem;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid#dadde1;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: white;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: var(--text-aligh);
}

.weather-forecast-date {
  font-size: 16px;
  color: white;
}

.weather-forecast-temperature-max {
  font-size: 13px;
  color: white;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  font-size: 13px;
  color: black;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

footer.contact-box {
  background: var(--secondary-color);
  padding: 30pxc 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer a.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer a.email-link:hover {
  color: var(--branding-color);
}

.social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background: var(--branding-color);
}

@media (max-width: 900px) {
  .content-container h2 {
    font-size: 44px;
    text-align: center;
  }

  .btn {
    font-size: 18px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  footer .contact-box {
    padding: 30px;
  }
}
